@charset "UTF-8";
/* CSS Document */

.nav-item {
	display: inline-block;
	padding-top: 5px;
}

.nav-link:hover {
	color: green;
}

.body {
	font-family: Montserrat, sans-serif;
}

.home-background {
	background-color: #232323;
}

.main-animation {
	width: 90%;
	float: center;
	margin: auto;
	padding-top: 5%;
}

.anim-cont {
	height: 100%;
}

.footer {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer-text {
	display: inline-block;
	float: right;
	font-size: 0.9rem;
	color: grey;
	margin: 5% auto;
}

.footer-icon {
	display: inline-block;
	width: 15px;
	float: center;
	justify-content: center;
	margin: 5% 1%;
}

.footer-icon:hover{
	opacity: 0.7;	
}

#vf-nav-logo {
	width: 35px;
	height: auto;
}

.nav-item {
	text-transform: uppercase;
}

.hamburgermenu {
	height: 18px;
	width: auto;
}

/* ABOUT ME */
.about-content {
	padding-top: 150px;
}

#vfprofpic {
	width: 90%;
	animation-name: portfolioappear;
	animation-duration: 3s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

.intro {
	display: inline-block;
}

.intro-body {
	display: inline-block;
	line-height: 35px;
}

.intro-name {
	font-family: 'Playfair Display', serif;
	font-size: 4rem;
	font-style: italic;
}

/* PORTFOLIO */
h3.portfolio-title {
	padding-top: 150px;
}

.portfolio-col {
	padding: 20px;
}

.portfolio-photo {
	width: 90%;
	display: block;
	margin: 5% auto;
}

.vf-button {
	text-transform: uppercase;
	padding: 5px 10px;
	margin-top: 15px;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	border-radius: 5px;
	border: solid 1px grey;	
	color: grey;
}

.button:hover {
    background-color: grey; /* Green */
    color: white;
}

.page-img {
	width: inherit
}

.portfolio-body {
	padding-top: 15px;
}

.portfolio-descrip {
	padding-bottom: 30px;
}

/* ANIMATIONS */

@keyframes makewhite {
	from {opacity: 1;}
	to {opacity: 0.5;}
}

.portfolio-img:hover {
	opacity: 0.4;
	animation-name: makewhite;
	animation-duration: 1s;
}

@keyframes portfolioappear {
	from {opacity: 0;}
	to {opacity: 1;}
}

.portfolio-title, .portfolio-desc{
	animation-name: portfolioappear;
	animation-duration: 1s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

.portfolio-desc {
	animation-delay: 0.25s;
}

.portfolio-photo {
	animation-name: portfolioappear;
	animation-duration: 1.5s;
	opacity: 0;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}
.anim1 {
	animation-delay: 0.5s;
}
.anim2 {
	animation-delay: 1s;
}
.anim3 {
	animation-delay: 1.5s;
}
.anim4 {
	animation-delay: 2s;
}
.anim5 {
	animation-delay: 2.5s;
}
.anim6 {
	animation-delay: 3s;
}

/* HOVER TEXT */
.img-description{
	font-size: 2rem;
	text-align: center;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
  	color: black;
	opacity: 0;
	visibility: hidden;
}

.portfolio-col:hover .img-description {
	animation-name: textappear;
	visibility: visible;
  	opacity: 1;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

@keyframes textappear {
	from {opacity: 0;}
	to {opacity: 1;}
}.portfolio-descrip {
}
